//- box team

mixin box-team(obj)

  .box-team(class= obj.boxClass)
    .box-team-header
      p=obj.teamPosition
      h6: a(href="#")= obj.teamName

    .box-team-img
      a(href="#"): +jpg(obj.teamImg)

    .box-team-content
      p= obj.postContent
      +widget-list([
        {
          "icon": "fa fa-facebook",
          "href": "#"
        },
        {
          "icon": "fa fa-google-plus",
          "href": "#"
        },
        {
          "icon": "fa fa-linkedin",
          "href": "#"

        },
        {
          "icon": "fa fa-twitter",
          "href": "#"
        }
      ], 'text-primary fa-xs', '')

mixin box-team-horizontal(obj)

  .box-team.unit(class=obj.boxClass)
    .unit__left
      .box-team-img.box-shadow-var-2
        a(href="#"): +jpg(obj.teamImg)

    .unit__body
      .box-team-header
        p=obj.teamPosition
        h6: a(href="#")= obj.teamName

      .box-team-content
        p= obj.postContent
        +widget-list([
          {
            "icon": "fa fa-facebook",
            "href": "#"
          },
          {
            "icon": "fa fa-google-plus",
            "href": "#"
          },
          {
            "icon": "fa fa-linkedin",
            "href": "#"

          },
          {
            "icon": "fa fa-twitter",
            "href": "#"
          }
        ], 'text-primary fa-xs', '')